{% extends 'layout.html' %}

{% block content %}
<header>
    <nav class="container-nav">
      <div class="col1">
          <div>
              <p id="header-title">Dog Travel Club</p>
              <p>Blog exploring traveling with your pet around Europe</p>
          </div>
      </div>
      <div class="col2">
          <ul>
            <li><a href="update_password.html">Update Password</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a class="active" href="about.html">About</a></li>
            <li><a href="blog_post.html">Blog Posts</a></li>
          </ul> 
      </div>   
    </nav>
  </header>

<section class="page-section">
    <h2>About</h2>
    <div class="container">
        <div class="col1">
            <image src="{{ url_for('static', filename='dogs.jpeg') }}"></image>  
        </div>
        <div class="col2">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <div class="flash-msg">{{ msg }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <p><strong>T</strong>his blog started out of necessity to figure out a 
                pain-free way to travel with my dogs around Europe. Now that I have learned 
            some do's and don'ts, I would love to share my experience. </p>
            <p id="border"></p>
            <p><strong>M</strong>ost importantly, it is always great to hear what you have to say about your
                experience travelling around Europe with your pet. I hope this site helps you 
                plan out your next trip!</p>
        </div>
    </div>
</section>
  
{% endblock %}



