{% extends 'layout.html' %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="about.html">About</a></li>
        </ul>    
    </nav>
</header>


    <main>
        <section class="page-title">
            <h1 id="blue">around</h1>
            <h1>Europe</h1>
            <h1 id="blue">with</h1>
            <h1>Jelly</h1>
            <h1 id="get-started">START HERE</h1>
        </section>

        <section class="page-section">
            <h2>What if dogs could travel like people?</h2>

            <p>I asked my dog Jelly, a three year old Jack Russell, where she would like to go.
            Her immediate answer was: <em>"To Germany! Because this is the land of the dogs!"</em></p>

            <h2>Here is a snapshot of Jelly's travels.</h2>

            <p>This is Jelly in <a href="https://www.google.com/search?q=tegernsee&oq=tegernsee&gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyBwgBEC4YgAQyBwgCEC4YgAQyBwgDEAAYgAQyBwgEEAAYgAQyBwgFEAAYgAQyBwgGEAAYgAQyEAgHEC4YrwEYxwEYgAQYmAUyBwgIEAAYgAQyBwgJEAAYgATSAQgzODU5ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8" target="_blank">
            Tegernsee</a>, Bavaria.</p>
            <img src="static/jelly.jpg" alt="dog on a boat">

            <p>After a great time in Germany, the brave dog decided to venture out and visit Belgium.</p>
            <img src="static/belgium.jpg" alt="dog in a cafe">
        </section>

   

</main>
{% endblock %}

