{% extends 'layout.html' %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a class="active" href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>    
    </nav>
</header>

<section class="page-section">

<image src="{{ url_for('static', filename='cows.jpeg') }}"></image>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div>{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h2>Login Page</h2>

    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password }}
    </div>
    <div>
        {{ form.submit }}
    </div>
    </form>

</section>

{% endblock %}