{% extends 'layout.html' %}

{% block content %}

<header>
    <nav>
      <div class="col1">
          <div>
              <p id="header-title">Dog Travel Club</p>
              <p>Blog exploring traveling with your pet around Europe</p>
          </div>
      </div>
      <div class="col2">
          <ul>
            <li><a href="update_password.html">Update Password</a></li>
            <li><a class="active" href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog_post.html">Blog Posts</a></li>
          </ul> 
      </div>   
    </nav>
  </header>

<section class="page-section">
  <h2>Login Page</h2>
  <div class="container">
    <div class="col1">
        <image src="{{ url_for('static', filename='cows.jpeg') }}"></image>
    </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div>{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="col2 padding">
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="box">
            {{ form.username.label(class="label") }}
            {{ form.username(class="input") }}
        </div>
        <div class="box">
            {{ form.password.label(class="label") }}
            {{ form.password(class="input") }}
        </div>
        <div class="submit"> 
            {{ form.submit(class="submit-button") }}
        </div>
        </form>
    </div>
  </div>
</section>

{% endblock %}