* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  /* border: solid red; */

}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(47, 46, 46);
}

/* Main navigation bar ----------------------------------- */
header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: right;
  padding-left: 1.5em;
  margin: 1em 0;
}

nav a, a {
  font-size: 20px;
  text-decoration: none;
  /* color: rgb(66, 0, 128); */
  color: navy;
}

nav a:hover:not(.active){
  color: rgba(255, 0, 179, 0.8);  

}

li a.active {
  color: rgba(255, 0, 179, 0.8);
}

/* End of main nav bar ---------------------------- */

/* section class="page-title" -----------------------------*/
.page-title {
  height: 700px;
  background-image: url("cover.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
}

.page-title h1 {
  /*border: 3px solid white; */
  position: relative;
  top: 25px;
  left: 40px;
  width: 400px;
  color: white;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
  font-family: 'Signika', sans-serif;
  padding-bottom: 25px;
}

#blue {
  /* color: hsl(210, 100%, 40%); */
  color: navy;
  font-size: 50px;
  letter-spacing: 7px;
} 

#get-started {
  background-color: rgba(255, 0, 179, 0.8);
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  height: 60px;
  padding: 10px;
  margin-top: 25px;
  letter-spacing: 7px;
  border-radius: 10px;
}

.page-section {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  font-size: large;
  margin-bottom: 3em;
  
}

.container {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.col1 {
  width: 100%;
  padding:1em;
}

.col2 {
  width: 100%;
}

.box {
  display: flex;
}

.label {
  text-align: right;
  width: 30%;
  margin: 1em 0 0.5em 0;
  padding-right: 0.5em;
}

.input {
  justify-content: flex-start;
  width: 50%;
  margin: 1em 0 0.5em 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 10px;
}

img {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0, 0.7);
  border-radius: 15px;
}

.section-title {
  font-family: 'Signika', sans-serif;
  text-align: center;
  color: navy;
  padding: 10px;
}

h2 {
  color: navy;
  font-family: 'Signika', sans-serif;
  padding: 1.5em;
  text-align: center;
  border-top: solid gray 1px;
  font-size: 2rem;
  letter-spacing: 2px;
}

p {
  line-height: 1.5em;
}

.submit-button {
  background-color: rgba(255, 0, 179, 0.8);
  border: none;
  font-size: 1em;
  padding: 0.5em 2.5em;
  width: 50%;
  color: navy;
  margin-top: 1em;
  margin-left: 4em;
  border-radius: 10px;
  letter-spacing: 4px;
}
.submit-button:hover {
  background-color: rgba(255, 0, 179, 0.8);
  cursor: pointer;
}

.padding {
    padding: 1em;
}

/* FOOTER */

footer {
  padding: 2em;
  color: gray;
  background-color: #f8f8f8;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
}

footer li {
  list-style-type: none;
  padding: 2em;
  display:inline-block;
  
}
footer a {
  text-decoration: none;
  color: gray;
  font-weight: 100;
  font-size: 0.9rem;
}

.container-f {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
