{% extends 'layout.html' %}

{% block content %}

<image src="{{ url_for('static', filename='cows.jpeg') }}"></image>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div>{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h2>Update Password</h2>

    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password }}
    </div>
    <div>
        {{ form.password_new.label }}
        {{ form.password_new }}
    </div>
    <div>
        {{ form.submit }}
    </div>
    </form>

{% endblock %}